@model Modelo.Tabelas.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes da CATEGORIA";
}

<div class="card">
    <div class="card-header bg-primary text-white">
        @ViewBag.Title
    </div>
    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="~/Content/Icons/svg/aperture.svg" alt="icon name" /></span>
                </div>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaID }, new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-warning" })
    </div>
</div>

@Html.Partial("~/Views/Produtos/_PorCategoria.cshtml", Model.Produtos.ToList())

@section styles{
    <link href=@Url.Content("~/Content/DataTables/css/dataTables.bootstrap4.css") rel="stylesheet" />
}

@section ScriptPage{
    <script src=@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")></script>
    <script src=@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.js")></script>

    <script src=@Url.Content("~/Scripts/jquery.validate.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liCategorias').addClass("active");
        });
    </script>
}