@model IEnumerable<Modelo.Cadastros.Fabricante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Fabricantes";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

    <div class="card">
        <div class="card-header bg-primary text-white">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FabricanteID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FabricanteID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Edit", new { id = item.FabricanteID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Detalhes", "Details", new { id = item.FabricanteID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Excluir", "Delete", new { id = item.FabricanteID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Registrar FABRICANTE", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>

    @section styles{
        <link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap4.css")" rel="stylesheet" />
    }

    @section ScriptPage{
        <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")"></script>
        <script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () { $('.table').DataTable(); });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('li').removeClass("active");
                $('#liFabricantes').addClass("active");
            });
        </script>
    }
