<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,
initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 bg-dark pb-2 mb-2 border-bottom">
                <h1 class="text-light">
                    Desenvolvimento em ASP.NET MVC
                    <small class="text-secondary">
                        Utilizando o Bootstrap
                    </small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 bg-light">
                <ul class="nav nav-pills flex-column">
                    <li role="presentation" class="nav-link"><a href="#" class="nav-link bg-info text-white">Home</a></li>
                    <li role="presentation" class="nav-link">
                        @Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class="nav-link bg-info text-white"})
                    </li>
                    <li role="presentation" class="nav-link">
                        @Html.ActionLink("Fabricantes","Index", "Fabricantes", null, new { @class="nav-link bg-info text-white"})
                    </li>
                </ul>
            </div>
            <div class="col-9 col-md-9">
                <br />
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-md-12 bg-dark">
                <small class="text-white">Layout com Bootstrap</small>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>

    @RenderSection("ScriptPage", false)
</body>
</html>