@using ProjetoLivroASPMVC.Infraestrutura

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,
initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/validation-summary.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 bg-dark pb-2 mb-2 border-bottom">
                <h1 class="text-light">
                    Desenvolvimento em ASP.NET MVC
                    <small class="text-secondary">
                        @if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            @Html.GetAuthenticatedUser()
                            @Html.ActionLink("Sair", "Logout", "Account", new { Area = "Seguranca" }, new { @class = "btn btn-sm btn-outline-danger text-black" })
                        }
                        else
                        {
                            @Html.ActionLink("Entrar", "Login", "Account", new { Area = "Seguranca" }, new { @class = "btn btn-sm btn-outline-success text-white" })
                        }
                    </small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 bg-light">
                <ul class="nav nav-pills flex-column">
                    <li id="liHome" role="presentation" class="nav-link"><a href="#" class="nav-link bg-info text-white">Home</a></li>
                    <li id="liCategorias" role="presentation" class="nav-link">
                        @Html.ActionLink("Categorias", "Index", "Categorias", new { Area = "Tabelas" }, new { @class = "nav-link bg-info text-white" })
                    </li>
                    <li id="liFabricantes" role="presentation" class="nav-link">
                        @Html.ActionLink("Fabricantes", "Index", "Fabricantes", new { Area = "Cadastros" }, new { @class = "nav-link bg-info text-white" })
                    </li>
                    <li id="liProdutos" role="presentation" class="nav-link">
                        @Html.ActionLink("Produtos", "Index", "Produtos", new { Area = "Cadastros" }, new { @class = "nav-link bg-info text-white" })
                    </li>
                    <li id="liUsuarios" role="presentation" class="nav-link">
                        @Html.ActionLink("Usuários", "Index", "Admin", new { Area = "Seguranca" }, new { @class = "nav-link bg-info text-white" })
                    </li>
                    <li id="liPapeis" role="presentation" class="nav-link">
                        @Html.ActionLink("Papeis", "Index", "PapelAdmin", new { Area = "Seguranca" }, new { @class = "nav-link bg-info text-white" })
                    </li>
                </ul>
            </div>
            <div class="col-9 col-md-9">
                <br />
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-md-12 bg-dark">
                <small class="text-white">Layout com Bootstrap</small>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    @RenderSection("ScriptPage", false)
</body>
</html>